.MenuColor {
    background-color: #ffffff;
    height: 100%;
    width: 100%;
    position: absolute;
}

.MenuCorner {
    .RightCorner {
        position: absolute;
        transform: translate(-100%,-100%);
        top: 100%;
        left: 100%;
        max-width: 41%;
        max-height: 41%;
    }
    .LeftCorner {
        position: absolute;
        max-width: 41%;
        max-height: 41%;
    }
}

.content {
    position: absolute;
    width: 100%;
    .logo {
        position: relative;
        transform: translate(-50%, 30%);
        top: 5%;
        left: 50%;
        width: 40%;
    }
    .title {
        position: relative;
        transform: translate(-50%, 50%);
        left: 50%;
        margin-top: 30%;
        width: 80%;
    }
    .startButton {
        position: relative;
        left: 50%;
        margin-top: 25%;
        width: 40%;
        transform: translate(-50%,50%);
        img {
            width: 100%;
        }
    }
}

.Menu {
    width: 100%;
    height: 100%;
    .background {
        width: 100%;
        height: 100%;
        position: absolute;
    }

}

// @media only screen and (max-width: 1440px){
//     .content {
//         .logo {
//             width: 20%;
//         }
//         .title {
//             top: 10%;
//             width: 35%;
//         }
//         .startButton {
//             top: 80%;
//             width: 15%;
//         }
//     }
// }

// @media only screen and (max-width: 1200px){
//     .content {
//         .logo {
//             width: 20%;
//         }
//         .title {
//             top: 15%;
//             width: 35%;
//         }
//         .startButton {
//             top: 80%;
//             width: 15%;
//         }
//     }
// }

// @media only screen and (max-width: 1024px){
//     .content {
//         .logo {
//             width: 25%;
//         }
//         .title {
//             top: 15%;
//             width: 45%;
//         }
//         .startButton {
//             top: 80%;
//             width: 20%;
//         }
//     }
// }

// @media only screen and (max-width: 950px){
//     .content {
//         .logo {
//             width: 30%;
//         }
//         .title {
//             top: 15%;
//             width: 45%;
//         }
//         .startButton {
//             top: 75%;
//             width: 25%;
//         }
//     }
// }

// @media only screen and (max-width: 768px){
//     .content {
//         .logo {
//             width: 30%;
//         }
//         .title {
//             top: 15%;
//             width: 50%;
//         }
//         .startButton {
//             top: 75%;
//             width: 30%;
//         }
//     }
// }

// @media only screen and (max-width: 620px){
//     .content {
//         .title {
//             margin-top: 10%;
//             width: 55%;
//         }
//         .startButton {
//             width: 30%;
//         }
//     }
// }

@media only screen and (min-width: 1025px) and (max-width: 1366px) and (orientation:landscape) {
    .content {
        .title {
            margin-top: initial !important;
            width: 45%;
        }
        .startButton {
            margin-top: 15% !important;
            width: 25%
        }
        .logo {
            width: 20%;
        }
    }
}

@media only screen and (min-width: 901px) and (max-width: 1024px) and (orientation:landscape) {
    .content {
        .title {
            margin-top: initial !important;
            width: 50%;
        }
        .startButton {
            margin-top: 15% !important;
            width: 25%;
        }
        .logo {
            width: 30%;
        }
    }
}

@media only screen and (min-width: 700px) and (max-width: 900px)  and (orientation:landscape){
    .content {
        .title {
            margin-top: initial !important;
            width: 30%;
        }
        .startButton {
            width: 15% !important;
            margin-top: 10% !important;
        }
        .logo {
            width: 15% !important;
        }
    }
}

@media only screen and (min-width: 575px) and (max-width: 700px) and (orientation:landscape){
    .content {
        .title {
            margin-top: initial !important;
            width: 40% !important;
        }
        .startButton {
            width: 20% !important;
            margin-top: 10% !important;
        }
        .logo {
            width: 20% !important;
        }
    }
}

@media only screen and (min-width: 901px) and (max-width: 1024px){
    .content {
        .title {
            margin-top: 15%;
        }
        .startButton {
            margin-top: 25%;
        }
        .logo {
            width: 30%;
        }
    }
}

@media only screen and (min-width: 700px) and (max-width: 900px){
    .content {
        .title {
            // margin-top: initial;
            // width: 50%;
            margin-top: 20%;
        }
        .startButton {
            width: 30%;
            margin-top: 25%;
        }
        .logo {
            width: 30%;
        }
    }
}

@media only screen and (min-width: 575px) and (max-width: 700px){
    .content {
        .title {
            margin-top: 10%;
            width: 50%;
        }
        .startButton {
            width: 25%;
            margin-top: 15%;
        }
        .logo {
            width: 30%;
        }
    }
}

@media only screen and (min-width: 475px) and (max-width: 575px){
    .content {
        .title {
            margin-top: 15%;
            width: 55%;
        }
        .startButton {
            width: 30%;
        }
        .logo {
            width: 35%;
        }
    }
}

@media only screen and (min-width: 400px) and (max-width: 475px){
    .content {
        .title {
            margin-top: 20%;
            width: 65%;
        }
        .startButton {
            width: 40%;
        }
    }
}
