.Game {
  position: absolute;
  padding: 9% 15%;
  width:100%;
  border-radius: 10px;
}

.GameOver {
  img {
    position: absolute;
    margin: 35% 20%;
    width: 60%;
  }
  position: absolute;
  background-color: #000F24;
  width: 76%;
  height: 65%;
  opacity: 0.7;
  margin: 7% 12%;
}

.newGameButton {
    left: 50%;
    margin: 0% 50%;
    width: 60%;
    img {
      width: 100%;
    }
}

.MenuColor {
  background-color: #ffffff;
  height: 100%;
  width: 100%;
  position: absolute;
}

.MenuCorner {
  .RightCorner {
      position: absolute;
      transform: translate(-100%,-100%);
      top: 100%;
      left: 100%;
      max-width: 41%;
      max-height: 41%;
  }
  .LeftCorner {
      position: absolute;
      max-width: 41%;
      max-height: 41%;
  }
}

.iconBackground {
    position: absolute;
    width: 100%;
}

.logo {
  position: relative;
  transform: translate(-50%, 30%);
  margin-top: 5%;
  left: 50%;
  width: 20%;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media only screen and (min-width: 1024px) and (max-width: 1366px) and (orientation:landscape) {
  .Game {
    padding: 5% 15%;
  }
  .logo {
    width: 20%;
  }
  .newGameButton {
    margin: 0% 5%;
}
}